<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toquery.framework.demo.dao.IMyBatisDemoDao">

    <select id="getByName" resultType="com.toquery.framework.demo.entity.TbMyBatisDemo">
        select *
        from tb_my_batis_demo
        where `name` = #{name}
    </select>
</mapper>
